user-select(n)
  -webkit-user-select n
  -moz-user-select n
  -ms-user-select n
  user-select n

*
	margin 0
	padding 0
	box-sizing border-box
	text-decoration none
	font-family sans-serif
	font-size 14px

#filter-checker
	display none

	&:checked + .filter-block
		left 0px
		z-index 1

		.visible-arrow
			border-right none
			border-left 1px solid black
			transform rotate(180deg)

.filter-block
	position fixed
	left -232px

	.visible-arrow
		vertical-align top
		border 1px solid black
		border-left none
		float right
		width 45px
		text-align center
		background-color white

		.arrow-label
			display block
			cursor pointer

			.toggle-filters
				font-size 44px

	.filter-container
		border 1px solid black
		padding 15px 30px 0 30px
		display inline-block
		background-color white

		.filter-list
			list-style-type none

			.checkbox-container
				display block
				position relative
				padding-left 35px
				margin-bottom 12px
				cursor pointer
				font-size 22px
				user-select(none)

				&:hover
					.checkbox-hidden ~ .checkmark
						background-color #ccc

				.checkbox-hidden
					position absolute
					opacity 0
					cursor pointer
					height 0
					width 0

					&:checked ~ .checkmark
						background-color #27ae60

						&:after
							display block

				.checkmark
					position absolute
					top 0
					left 0
					height 25px
					width 25px
					background-color #eee

					&:after
						content ""
						position absolute
						display none
						left 9px
						top 5px
						width 5px
						height 10px
						border solid white
						border-width 0 3px 3px 0
						-webkit-transform rotate(45deg)
						-ms-transform rotate(45deg)
						transform rotate(45deg)

.big-title
	font-size 36px

.small-title
	font-size 24px

.big-title, .middle-title, .small-title
	line-height 1.1
	margin-bottom 15px
	font-weight 500

.block-wrapper
	padding-right 15px
	padding-left 15px
	margin-right auto
	margin-left auto

	.sec-title
		font-weight 900
		text-align center
		margin-top 45px
		margin-bottom 0
		color #333333
	
	.horizontal-block
		margin-right -15px
		margin-left -15px

		.btn-sec 
			display flex
			flex-direction column

	.block-column
		width 100%
		position relative
		min-height 1px
		padding-right 15px
		padding-left 15px

		.button
			line-height 1.42857143
			cursor pointer
			background-image none
			background-color #27ae61
			border-radius 50px
			font-size 24px
			padding 6px 17px
			color #FFFFFF
			border 1px solid transparent
			margin-bottom 15px

		.news-list
			padding-bottom 60px

			.news-item
				margin-top 20px
				display flex
				flex-direction column
				align-items center
				justify-content space-around
				margin-right 20px

				.news-item-img
					background-color #27AE60
					height 280px

					.img-item
						opacity 0.2

				.news-item-bg
					position absolute
					color white
					width 280px
					padding 0 15px

					.title
						text-align center
						font-weight 900

						.title-link
							color inherit
							font-size inherit

					.desc
						color #FFFFFF
						text-align center
						margin-bottom 0
						font-size 14px
						line-height 1.42857143
						color #333333

						.button
							margin-top 5px
							border 1px solid white
							font-size 14px

						.priority-list
							margin-bottom 2px

						.priority-radio
							display inline

							.checkbox-container
								position relative
								cursor pointer
								user-select(none)

								.label-title
									padding-right 25px
									font-size 18px
									padding-left 20px
									margin-bottom 12px
									color white

								.checkbox-button
									position absolute
									opacity 0
									cursor pointer

									&:checked ~ .checkmark
										background-color white

										&:after
											display block

								.checkmark
									position absolute
									top -1px
									left 0
									height 16px
									width 16px
									background-color #eee
									border-radius 50%

									&:after
										content ""
										position absolute
										display none
										top 4px
										left 4px
										width 8px
										height 8px
										border-radius 50%
										background black

								&:hover
									.checkbox-button ~ .checkmark
										background-color #ccc

@media screen and (min-width 375px)
	.block-wrapper
		.block-column
			.news-list
				display flex
				flex-wrap wrap
				justify-content space-around

@media screen and (min-width 630px)
	.block-wrapper
		width 750px

@media screen and (min-width 1024px)
	.block-wrapper
		width 970px
	
	.news-list
		display flex
		flex-wrap wrap
		justify-content space-around
		padding-left 21px

@media screen and (min-width 1200px)
	.block-wrapper
		width 1170px