@media screen and (min-width 375px)
	.block-wrapper
		.block-column
			.news-list
				display flex
				flex-wrap wrap
				justify-content space-around

@media screen and (min-width 630px)
	.block-wrapper
		width 750px

@media screen and (min-width 1024px)
	.block-wrapper
		width 970px
	
	.news-list
		padding-left 21px

@media screen and (min-width 1200px)
	.block-wrapper
		width 1170px