.half-place
	position relative
	min-height 1px
	padding-right 15px
	padding-left 15px

	&.art-img
		margin-top 20px

		.main-img
			max-width 100%

	&.art-more
		.info
			.sec-title
				margin-top 20px
				text-align left

			.desc
				text-align left
				margin-top 30px
				padding-right 10px
				padding-bottom 30px
				margin-bottom 0
				font-size 14px
				line-height 1.42857143
				color #333333

		.returning-link
			a
				font-size 48px

		.add-info
			padding-bottom 40px

			.add-info-item
				padding-bottom 10px
				display flex
				align-items center

				.add-info-title
					text-transform capitalize
					margin 0
					padding-left 30px
					font-weight 700

				@import 'priorities.styl'

				.priority-radio
					.checkbox-container
						.label-title
							color black
						.checkmark
							border 1px solid black

							&:after
								top 3px
								left 3px

				.button
					font-size 14px
					padding 4px 9px
					margin-top 10px