@media screen and (min-width 375px)
	.block-wrapper
		.block-column
			.news-list
				display flex
				flex-wrap wrap
				justify-content space-around

			.art-img
				display flex
				justify-content center
				align-items center

@media screen and (min-width 630px)
	.block-wrapper
		width 750px

@media screen and (min-width 1024px)
	.block-wrapper
		width 970px

		.article
			display flex
			.art-img
				width 70%
				padding-bottom 60px
				margin-top 60px

			.art-more
				width 50%
				align-self center

				.info
					.desc
						padding-bottom 70px
	
	.news-list
		padding-left 21px

@media screen and (min-width 1200px)
	.block-wrapper
		width 1170px

		.half-place
			float left
			width 50%