.button
			line-height 1.42857143
			cursor pointer
			background-image none
			background-color #27ae61
			border-radius 50px
			font-size 24px
			padding 6px 17px
			color #FFFFFF
			border 1px solid transparent
			margin-bottom 15px