.priority-list
	margin-bottom 2px

.priority-radio
	display inline

	.checkbox-container
		position relative
		cursor pointer
		user-select(none)

		.label-title
			padding-right 25px
			font-size 18px
			padding-left 20px
			margin-bottom 12px
			color white

		.checkbox-button
			position absolute
			opacity 0
			cursor pointer

			&:checked ~ .checkmark
				background-color white

				&:after
					display block

		.checkmark
			position absolute
			top -1px
			left 0
			height 16px
			width 16px
			background-color #eee
			border-radius 50%

			&:after
				content ""
				position absolute
				display none
				top 4px
				left 4px
				width 8px
				height 8px
				border-radius 50%
				background black

		&:hover
			.checkbox-button ~ .checkmark
				background-color #ccc